.avatar{
  width: 200px;
  height: 200px;
  border: 10px dashed #5AECFF;
  border-radius: 100%;
  
}
.name{
  
}
.info{
  text-align: center;
}
.box{
  width: 300px;
  height: 200px;
  border: 2px solid #12E4FF;
  display: inline-block;
}