
.info{
  margin-top: -200px;
  text-align: center;
  
}
.avatar{
  width: 180px;
  height: 180px;
  border: 7px dashed #5AECFF;
  border-radius: 100%;
  



}
.gioi_thieu{
  

  margin: -20px auto;
  width: 300px;
  
  word-break: break-word;
  border-radius: 20px;
  border: 2px solid #FF9696;
  text-overflow:  ellipsis;
  
  
}
.name{
  position: relative;
  top: -10px;
}
.box{
  margin: 0 auto;
  width: 95%;
  height: 320px;
  box-shadow: 0px 0px 30px 10px #ccc;
  border-radius: 30px;
  position: relative;
  top: 420px;
  z-index: -1;
  
}
  